Source: foreman
Maintainer: Greg Sutcliffe <greg.sutcliffe@gmail.com>
Section: web
Priority: extra
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7), cdbs
Homepage: http://www.theforeman.org/

Package: foreman
Architecture: all
Section: web
Priority: extra
Depends: bundler,
         rubygems-integration,
         ruby-abstract,
         ruby-actionmailer,
         ruby-actionpack,
         ruby-activemodel,
         ruby-activerecord,
         ruby-activeresource,
         ruby-activesupport,
         ruby-ancestry,
         ruby-arel,
         ruby-audited,
         ruby-audited-activerecord,
         ruby-builder (=2.1.2-1),
         ruby-erubis (=2.6.6-1),
         ruby-has-many-polymorphs,
         ruby-i18n (=0.5.0-1),
         ruby-jquery-rails,
         ruby-json,
         ruby-mail,
         ruby-mime-types,
         ruby-net-ldap,
         ruby-polyglot,
         ruby-rack (=1.2.5-1),
         ruby-rack-mount,
         ruby-rack-test (=0.5.7-1),
         ruby-rails,
         ruby-railties,
         ruby-rdoc,
         ruby-rest-client,
         ruby-ruby2ruby,
         ruby-parser,
         ruby-safemode,
         ruby-scoped-search,
         ruby-sexp-processor,
         ruby-thor,
         ruby-treetop,
         ruby-tzinfo,
         ruby-uuidtools,
         ruby-will-paginate,
         rake,
         facter,
         puppet (>=0.24.4),
         ${misc:Depends}
Recommends: foreman-proxy
Description: Systems management web interface
 Foreman is aimed to be a single address for all machines life cycle management.
 .
  - Foreman integrates with Puppet and acts as web front end to it.
  - Foreman takes care of bare bone provisioning until the point puppet is
    running, allowing Puppet to do what it does best.
  - Foreman shows you Systems Inventory (based on Facter) and provides real time
    information about hosts status based on Puppet reports.
  - Foreman creates everything you need when adding a new machine to your
    network. Its goal being automatically managing everything you would
    normally manage manually - that would eventually include DNS, DHCP,
    TFTP, PuppetCA, CMDB and everything else you might consider useful.
  - With Foreman you can always rebuild your machines from scratch.
  - Foreman is designed to work in a large enterprise, where multiple domains,
    subnets and puppetmasters are required.
    In many cases, Foreman could help remote provisions where no experienced
    technicians are available.

Package: foreman-mysql
Architecture: all
Section: web
Priority: extra
Depends: foreman,
         ruby-mysql,
         ${misc:Depends}
Description: metapackage providing MySQL dependencies for Foreman
 This package only provides MySQL dependencies for Foreman, a
 flexible systems management web application. Install this
 one if you want to use a MySQL database with Foreman.
 .
 The foreman package should be installed along with this package.

Package: foreman-mysql2
Architecture: all
Section: web
Priority: extra
Depends: foreman,
         ruby-mysql2,
         ${misc:Depends}
Description: metapackage providing mysql2 dependencies for Foreman
 This package provides mysql2 dependencies for Foreman, a
 flexible systems management web application.
 .
 The foreman package should be installed along with this package.

Package: foreman-pgsql
Architecture: all
Section: web
Priority: extra
Depends: foreman,
         ruby-pg,
         ${misc:Depends}
Description: metapackage providing PostgreSQL dependencies for Foreman
 This package provides PostgreSQL dependencies for Foreman, a
 flexible systems management web application. Install this
 one if you want to use a PostgreSQL database with Foreman.
 .
 The foreman package should be installed along with this package.

Package: foreman-sqlite3
Architecture: all
Section: web
Priority: extra
Depends: foreman,
         ruby-sqlite3 (=1.3.4-1),
         ${misc:Depends}
Description: metapackage providing sqlite dependencies for Foreman
 This package provides sqlite dependencies for Foreman, a
 flexible systems management web application. Install this
 one if you want to use a SQLite database with Foreman.
 .
 The foreman package should be installed along with this package.

Package: foreman-fog
Architecture: all
Section: web
Priority: extra
Depends: foreman,
         ruby-excon,
         ruby-formatador,
         ruby-hmac,
         ruby-multi-json,
         ruby-net-scp,
         ruby-net-ssh,
         ruby-nokogiri,
         ruby-fog, ${misc:Depends}
Description: metapackage providing fog dependencies for Foreman (for Amazon EC2 support)
 This package provides fog dependencies for Foreman, a
 flexible systems management web application.
 .
 The foreman package should be installed along with this package.

Package: foreman-libvirt
Architecture: all
Section: web
Priority: extra
Depends: foreman,
         foreman-fog,
         ruby-virt,
         ruby-libvirt, ${misc:Depends}
Description: metapackage providing libvirt dependencies for Foreman
 This package provides fog dependencies for Foreman, a
 flexible systems management web application.
 .
 The foreman package should be installed along with this package.

Package: foreman-ovirt
Architecture: all
Section: web
Priority: extra
Depends: foreman,
         foreman-fog,
         ruby-rbovirt,
         ${misc:Depends}
Description: metapackage providing ovirt dependencies for Foreman
 This package provides ovirt dependencies for Foreman, a
 flexible systems management web application.
 .
 The foreman package should be installed along with this package.

Package: foreman-vmware
Architecture: all
Section: web
Priority: extra
Depends: foreman,
         foreman-fog,
         ruby-trollop,
         ruby-rbvmomi,
         ${misc:Depends}
Description: metapackage providing vmware dependencies for Foreman
 This package provides vmware dependencies for Foreman, a
 flexible systems management web application.
 .
 The foreman package should be installed along with this package.

Package: foreman-console
Architecture: all
Section: web
Priority: extra
Depends: foreman,
         ruby-awesome-print,
         ruby-hirb,
         ruby-hirb-unicode,
         ruby-unicode-display-width,
         ruby-wirb,
         ${misc:Depends}
Description: metapackage providing console dependencies for Foreman
 This package provides console dependencies for Foreman, a
 flexible systems management web application.
 .
 The foreman package should be installed along with this package.

Package: foreman-test
Architecture: all
Section: web
Priority: extra
Depends: foreman,
         ruby-metaclass,
         ruby-mocha,
         ruby-rr,
         ruby-shoulda,
         ruby-shoulda-context,
         ruby-shoulda-matchers,
         ${misc:Depends}
Description: metapackage providing test dependencies for Foreman
 This package provides test dependencies for Foreman, a
 flexible systems management web application.
 .
 The foreman package should be installed along with this package.

